
{% load static %}
{% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src= "/static/img/about1.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Ignyt - The Beer Longue is more than just a venue</h3>
          <p class="font-italic">
            A great destination for beer enthusiasts seeking an extraordinary experience located at
            Kumarswamy Layout, South Banglore having an operational hours from 11:00 AM to 11:00 PM.
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> Serves variety of alcohol.</li>
            <li><i class="icofont-check-circled"></i> Also serves both veg and non-veg dishes.</li>
            <li><i class="icofont-check-circled"></i> Dishes like Creamy Mushroom, Chicken Biryani are some of the must-try dishes here.</li>
          </ul>
          <p>
            The Beer Station plays music. It's a great combination of good drinks and awesome entertainment. 
            Nothing beats enjoying a cold beer while listening to some live tunes.
            It offers great atmosphere and the perfect spot to hangout with friends.
            There's a convinient parking available when you're heading out for a night of fun.
            So, you can have worry-free experience and indulge in some delicious beers and live music without any parking hassels!
          </p>
        </div>
      </div>

    </div>
  </section>
  {% endblock %}