{% load static %}

<!-- ======= Events Section ======= -->
<section id="events" class="events">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Events</h2>
      <p>Enjoy organised events in our Beer Longue!</p>
    </div>

    <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="/static/img/newyear.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>New Year Parties</h3>
              <div class="price">
                <p><span>Rs. 1200/-</span></p>
              </div>
              <p class="fst-italic">
                Countdown to 2024 with endless vibes! 🎉 
                Join us for the ultimate New Year's Eve bash featuring unlimited beer, 
                delectable bites, beats by the DJ till 12:30, sizzling barbecue, and optional beer shots 🍻✨
              </p>
              <ul>
                <li><i class="bi bi-check-circled"></i> Special Brews: Consider brewing a special batch of beer exclusively for the New Year party. It could be a limited-edition brew that adds a unique touch to the celebration.
                </li>
                <li><i class="bi bi-check-circled"></i>  Food Pairings: Plan a menu of delicious appetizers and finger foods that pair well with the different beers on offer. Think about incorporating beer-infused dishes for an extra twist.
                </li>
                <li><i class="bi bi-check-circled"></i> Midnight Toast: Gather everyone for a special midnight toast with a favorite beer or a champagne and beer blend. Raise your glasses and cheers to a fantastic year ahead!
                </li>
              </ul>
              <p>
              
              Oh Guys! you won't believe how epic the New Year party was at our beer station! 🎉🍻 It was the perfect way to ring in the new year with a bang. The place was decked out in dazzling decorations, and the energy was off the charts. We danced like there was no tomorrow, laughed until our stomachs hurt, and made memories that will last a lifetime. The DJ played all the best hits, and the drinks were flowing. It was a night of pure celebration, surrounded by friends and good vibes. I can't wait for the next big event at our beer station! Cheers to an incredible New Year!🥳🎆🎊

              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="/static/img/gayakas.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Gayaka's Band</h3>
              <div class="price">
                <p><span>Flat 25 % OFF on total bill!</span></p>
              </div>
              <p class="fst-italic">
                Gayaaak sets the stage on fire at Ignyt - The Beer Lounge..🎤 Get ready for night of musical magic! 
              </p>
              <ul>
                <li><i class="bi bi-check-circled"></i>Energetic Performance: Gayaka's band delivered an incredibly energetic performance that had everyone on their feet and dancing throughout the night.

                </li>
                <li><i class="bi bi-check-circled"></i>Engaging Stage Presence: The band members had a fantastic stage presence, interacting with the audience and creating a lively atmosphere. They knew how to keep the crowd engaged and entertained.


                </li>
                <li><i class="bi bi-check-circled"></i> Positive Vibes: The overall vibe of the performance was filled with positivity and joy. The band's enthusiasm and passion for music were contagious, spreading a sense of happiness among everyone present.
                </li>
              </ul>
              <p>
                  You won't believe the incredible performance by Gayaka's band at our beer station! 
                  They bring the house down with their amazing music and electrifying energy. 
                  The lead singer's powerful vocals had everyone captivated, while the band members showcase their talent with impressive solos and tight harmonies. 
                  The crowd, dancing, singing along, and having an absolute blast. It is an unforgettable night filled with great music, good friends, and of course, delicious beer. 
                  Can't wait for the next performance at our beer station!🎶🍻
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="/static/img/openmic.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Open Mic Night</h3>
              
              <p class="fst-italic">
                Get ready to sing, sip, and sizzle at IGNYT's Open Mic Night!

              </p>
              <ul>
                <li><i class="bi bi-check-circled"></i> Creative Expressions: The open mic night provided a platform for people to express themselves creatively. It was inspiring to witness individuals sharing their thoughts, emotions, and stories through their chosen art form.</li>
                <li><i class="bi bi-check-circled"></i> Open mic nights have a way of bringing people together. It was a fantastic opportunity to connect with fellow music enthusiasts, artists, and performers who share a passion for creativity.</li>
                <li><i class="bi bi-check-circled"></i> Platform for Growth: Open mic nights serve as a stepping stone for aspiring artists to gain experience and build confidence. It was wonderful to see individuals taking that leap and embracing the opportunity to showcase their talent.
                </li>
              </ul>
              <p>
                Oh man, let me tell you about the open mic night at our beer station! It was absolutely amazing! 🎤🍻 The atmosphere was buzzing with excitement as talented folks took the stage to showcase their skills. We had everything from soulful singers and passionate poets to hilarious comedians and mind-blowing musicians. The crowd was so supportive, cheering and clapping for each performer. It was a night of creativity, community, and unforgettable moments. I can't wait for the next open mic night at our beer station! 🎶😄🍺

              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Events Section -->