{% load static %}
<section id="menu" class="menu section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Menu</h2>
      <p>Check Our Tasty Menu</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-Pasta">PASTA</li>
          <li data-filter=".filter-SSS">SOUPS, SALADS <br> <br> AND SANDWICH</li>
          <li data-filter=".filter-Platters">PlATTERS</li>
          <li data-filter=".filter-Main-course">MAIN-COURSE</li>
          <li data-filter=".filter-BP">BREADS <br> <br> AND PIZZA</li>
          <li data-filter=".filter-Specials">SPECIALS</li>
          <li data-filter=".filter-Rn">RICE AND <br> <br> NOODLES</li>
          <li data-filter=".filter-dd">DRINKS AND DESERTS</li>
        </ul>
      </div>
    </div>

    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-6 menu-item filter-Pasta">
        <img src="/static/img/menu/alfredo.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">ALFREDO (VEG/NON-VEG)</a><span>Rs.240/299</span>
        </div>
      </div>    

      <div class="col-lg-6 menu-item filter-Pasta">
        <img src="/static/img/menu/mix sause.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">MIX SAUCE (VEG/NON-VEG)</a><span>Rs.250/299</span>
        </div> 
     </div>

      <div class="col-lg-6 menu-item filter-Pasta">
        <img src="/static/img/menu/pesto.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">PESTO (VEG/NON-VEG)</a><span>Rs.250/299</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-Pasta">
        <img src="/static/img/menu/chicken carbonara.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">CHICKEN CARBONARA</a><span>Rs.299</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-Pasta">
        <img src="/static/img/menu/chicken sausage.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">CHICKEN SAUSAGE PASTA</a><span>Rs.299</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/cream.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">SOUP - CREAM OF MUSHROOM (VEG/NON-VEG)</a><span>Rs.165/210</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/corn.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#"> SOUP - CREAM OF CORN (VEG/NON-VEG) </a><span>Rs.155/199</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/veg.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">MANCHOW SOUP (VEG/NON-VEG) </a><span>Rs.165/199</span>
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/hot.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">HOT AND SOUR SOUP (VEG/NON-VEG)</a><span>Rs.165/210</span>
        </div>
      </div>
      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/sa.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">CAESER SALAD (VEG/NON-VEG)</a><span>Rs.199/229</span>
        </div>
      </div>
      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/grill.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">GRILL CHICKEN SALAD</a><span>Rs.279</span>
        </div>
      </div>
      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/greek.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">GREEK SALAD (VEG/NON-VEG)</a><span>Rs.199/249</span>
        </div>
      </div>
      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/green.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">GREEN SALAD</a><span>Rs.139</span>
        </div>
      </div>
      <div class="col-lg-6 menu-item filter-SSS">
        <img src="/static/img/menu/grill veg.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">GRILL VEG SANDWICH</a><span>Rs.199</span>
        </div>        
    </div> 
    <div class="col-lg-6 menu-item filter-SSS">
      <img src="/static/img/menu/mush.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">PESTO MUSHROOM SANDWICH</a><span>Rs.220</span>
      </div>
    </div>   
    <div class="col-lg-6 menu-item filter-SSS">
      <img src="/static/img/menu/tomato.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">TOMATO MOZZARELLA SANDWICH</a><span>Rs.190</span>
      </div>
     </div> 
     <div class="col-lg-6 menu-item filter-SSS">
      <img src="/static/img/menu/spinach corn.jpeg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">SPINACH AND CORN SANDWICH</a><span>Rs.230</span>
      </div>
    </div>   
    <div class="col-lg-6 menu-item filter-SSS">
      <img src="/static/img/menu/grilled.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">GRILLED CHICKEN SANDWICH</a><span>Rs.299</span>
      </div>
    </div>    
     <div class="col-lg-6 menu-item filter-SSS">
      <img src="/static/img/menu/peri.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">PERI PERI CHICKEN SANDWICH</a><span>Rs.299</span>
      </div>
    </div>     
    <div class="col-lg-6 menu-item filter-SSS">
      <img src="/static/img/menu/PES.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">PESTO CHICKEN SANDWICH</a><span>Rs.289</span>
      </div>
    </div>   
    <div class="col-lg-6 menu-item filter-SSS">
      <img src="/static/img/menu/egg.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">EGG SANDWICH</a><span>Rs.229</span>
      </div>
    </div> 
      <div class="col-lg-6 menu-item filter-Platters">
        <img src="/static/img/menu/tandoor.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">TANDOOR VEG</a><span>Rs.699</span>
        </div>
        <div class="Includes">
          &nbsp; Portion of Panner tikka, Mushroom lazeez tikka, Broccoli cheese tikki, Portion of Gobi Manchurian. (Served with salad and mint chutney)
        </div>
      </div>
      <div class="col-lg-6 menu-item filter-Platters">
        <img src="/static/img/menu/non.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">TANDOOR NON-VEG</a><span>Rs.899</span>
        </div>
        <div class="Includes">
       &nbsp; Portion of Chicken lazeez tikka, Lasuni chicken tikka, Turkish kebab, Portion of Chicken Manchurian. (Served with salad and mint chutney)
      </div>
        </div>
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/Mushroom.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">MUSHROOM MASALA (VEG)</a><span>Rs.239</span>
        </div>
      </div>
    
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/kadai.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">KADAI VEG</a><span>Rs.229</span>
        </div>
      </div>    
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/deewani.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">VEG DEEWANI HANDI</a><span>Rs.240</span>
        </div>
      </div>
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/kadai paneer.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">KADAI PANEER</a><span>Rs.220</span>
        </div>
      </div> 
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/tikka.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">PANEER TIKKA MASALA</a><span>Rs.250</span>
        </div>
      </div>    
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/do.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">PANEER DO PYAZA</a><span>Rs.240</span>
        </div>
      </div>  
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/kheema.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">PUNJABI PANEER KHEEMA MASALA</a><span>Rs.250</span>
        </div>
      </div>  
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/chicken do.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">CHICKEN DO PYAZA</a><span>Rs.349</span>
        </div>
      </div>    
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/chickentikka.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">LAZEEZ CHICKEN TIKKA MASALA</a><span>Rs.349</span>
        </div>
      </div> 
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/hara.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">CHICKEN HARA PYAAZ MASALA</a><span>Rs.349</span>
        </div>
      </div> 
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/kolhapuri.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">CHICKEN KOLHAPURI</a><span>Rs.349</span>
        </div>
      </div> 
      <div class="col-lg-6 menu-item filter-Main-course">
        <img src="/static/img/menu/matar.jpg" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">CHICKEN KHEEMA MATAR MASALA</a><span>Rs.349</span>
        </div>
      </div> 
       
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/roti.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">TANDOORI ROTI</a><span>Rs.40</span>
      </div>
    </div>   
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/butter.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">BUTTER NAAN</a><span>Rs.50</span>
      </div>
    </div>  
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/garlic.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">GARLIC NAAN</a><span>Rs.60</span>
      </div>
    </div>  
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/kulcha.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">BUTTER KULCHA</a><span>Rs.65</span>
      </div>
    </div>  
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/plain.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">PLAIN KULCHA</a><span>Rs.45</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/classic.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CLASSIC MARGHARITA PIZZA (8"/12")</a><span>Rs.199/229</span>
      </div>
    </div>   
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/farm.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">FARM VEG PIZZA (8"/12")</a><span>Rs.239/289</span>
      </div>
    </div>  
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/al.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">AL-FUNGHI PIZZA (8"/12")</a><span>Rs.229/289</span>
      </div>
    </div>  
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/indi.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">INDI PANEER TIKKA PIZZA (8"/12")</a><span>Rs.269/319</span>
      </div>
    </div>  
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/spicy.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">VEG SPICY TREAT PIZZA (8"/12")</a><span>Rs.219/279</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/load.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LOADED CHICKEN PIZZA (8"/12")</a><span>Rs.299/360</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/cls.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHICKEN CLASSIC SAUSAGE PIZZA (8"/12")</a><span>Rs.270/350</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/igsp.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">IGNYT SPECIAL PIZZA (8"/12")</a><span>Rs.330/399</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/pepp.jpeg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHICKEN PEPPERONI PIZZA (8"/12")</a><span>Rs.320/350</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-BP">
      <img src="/static/img/menu/chti.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHICKEN TIKKA PIZZA (8"/12")</a><span>Rs.300/370</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/toiti.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">TOIT-TINIT-IN WIT : MUG (330ml / 500ml )</a><span>Rs.270/399</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/budweiser.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">BUDWEISER PREMIUM : MUG (330ml)/ PITCHER (1.5L) / TOWER (3L) </a><span>Rs.230/1060/2100</span>
      </div>
    </div>  
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/magnum.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">BUDWEISER MAGNUM: MUG (330ml) / PITCHER (1.5L) / TOWER (3L) </a><span>Rs.245/1250/2500</span>
      </div>
    </div>  
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/kingfisher.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">KINGFISHER PREMIUM :  MUG (330ml) / PITCHER (1.5L) / TOWER (3L) </a><span>Rs.199/999/1999</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/coc.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">BEER COCKTAILS : BEER MOJITO / BEER SUNSET / MISS ROSY / GINGER BEER</a><span>Rs.280</span>
      </div>
    </div> 

    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/hariyali.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LIVE BBQ - PANEER HARIYALI</a><span>Rs.219</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/achari.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LIVE BBQ - MUSHROOM ACHARI</a><span>Rs.219</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/cornachari.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LIVE BBQ - CORN ACHARI  </a><span>Rs.199</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/assorted.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LIVE BBQ - ASSORTED VEGGIES </a><span>Rs.269</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/chikenhariyali.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LIVE BBQ - CHICKEN HARIYALI TIKKA</a><span>Rs.289</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/rangdi.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LIVE BBQ - TANGDI KABAB </a><span>Rs.280</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-Specials">
      <img src="/static/img/menu/periperi.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LIVE BBQ - PERI PERI CHICKEN TIKKA </a><span>Rs.299</span>
      </div>
    </div> 
    
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/jeera.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">JEERA RICE</a><span>Rs.160</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/ghee.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">GHEE RICE</a><span>Rs.175</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/rice.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">PLAIN RICE</a><span>Rs.100</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/fried.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">VEG FRIED RICE</a><span>Rs.140</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/curd.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CURD RICE</a><span>Rs.160</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/kichadi.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">PALAK KICHADI</a><span>Rs.229</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/biryani.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHICKEN FRY PIECE BIRYANI</a><span>Rs.229</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/chicfried.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHICKEN FRIED RICE</a><span>Rs.225</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/shez.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHICKEN SHEZWAN FRIED RICE</a><span>Rs.280</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/mexi.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHICKEN MEXICAN FRIED RICE</a><span>Rs.280</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/garlicnood.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHILLY GARLIC NOODLES (VEG/EGG/CHICKEN)</a><span>Rs.199/239/289</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/hakka.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">HAKKA NOODLES (VEG/EGG/CHICKEN)</a><span>Rs.169/199/229</span>
      </div>
    </div>
    <div class="col-lg-6 menu-item filter-Rn">
      <img src="/static/img/menu/sheznood.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">SHEZWAN NOODLES (VEG/EGG/CHICKEN)</a><span>Rs.189/229/269</span>
      </div>
    </div>

    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/mango.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">MANGO OREO MILKSHAKE</a><span>Rs.220</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/dark.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">DARK CHOCOLATE MILKSHAKE</a><span>Rs.220</span>
      </div>
    </div>    
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/nutella.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">NUTELLA MILKSHAKE</a><span>Rs.240</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/tango.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">MANGO TANGO MOCKTAILS</a><span>Rs.200</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/lavender.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">LAVENDER MOJITO MOCKTAILS</a><span>Rs.200</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/berry.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">BERRY BLAST MOCKTAILS</a><span>Rs.230</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/virgin.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">VIRGIN MOJITO MOCKTAILS</a><span>Rs.200</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/bomb.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHOCO BOMB</a> <span>Rs.200</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/icecream.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">BROWNIE AND ICECREAM</a> <span>Rs.200</span>
      </div>
    </div> 
    <div class="col-lg-6 menu-item filter-dd">
      <img src="/static/img/menu/chcake.jpg" class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">CHEESE CAKE/BLUEBERRY/STRAWBERRY/MANGO</a> <span>Rs.299</span>
      </div>
    </div> 




























































  </section><!-- End Menu Section -->
