{% load static %}

<section id="specials" class="specials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>BLOGS</h2>
      <p>Check Our Blogs</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Ignyt BBQ Food Hub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Updates on New Arrivals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Craft Beer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Brewing Techniques</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Ignyt BBQ Food Hub</h3>
                <p class="fst-italic">Barbeque Food Hub is a fantastic place to satisfy your cravings for grilled goodness! </p>
                <p>Our awesome beer station hub🍻, is a vibrant and lively spot where beer enthusiasts like us gather to enjoy a wide selection of craft beers from around the world. 
                  Our hub offers a cozy and inviting atmosphere, perfect for hanging out with friends and discovering new brews.<br>
                  Along with distinct taste of beers, we have a wide variety of mouthwatering barbeque dishes, from juicy steaks to tender ribs. 
                  It's a great spot to enjoy some delicious food with friends and family. 
                  The ambiance is lively, and the staff is friendly. You'll definitely have a memorable dining experience there! 🍖🔥
                </p>
              </div>

              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/food hub.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane active show" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Updates on New Arrivals</h3>
                <p class="fst-italic">Drown your thirst, not your wallet!</p>
                <p>🎉Hey Guys! Guess what? Our beer station just got some exciting new arrivals! 🎉 
                  We've got a fresh batch of craft beers from around the world, including some unique and limited-edition brews. 
                  From hoppy IPAs to smooth stouts and crisp lagers, there's something for every beer lover to enjoy.
                   So, if you're up for trying some new flavors and expanding your beer horizons, swing by our beer station and get ready for a taste adventure! Cheers, my friends! 🍻😄
                  <br>
                  Elevate your New Year's Eve at the ultimate bash of 2024! 🥳✨ Join us for unlimited beer, mouthwatering BBQ, 
                  beats by the DJ till 12:30, and a feast that's set to be unforgettable! 🍻🍖 
                  Secure your spot now with a pass at just ₹1299 and let's welcome the new year in style! 🎊
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/blog1.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane active show" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Craft Beer</h3>
                <p class="fst-italic">Craft Beer has a richer and more distinct taste than watery mass produced beer!</p>
                <p>🎉 Craft beer is a true treat for beer enthusiasts like us! 🍻
                   It's all about the art of brewing unique and flavorful beers with high-quality ingredients and a lot of creativity. 
                   Craft breweries are known for their small-batch production, which allows them to experiment with different styles, flavors, and ingredients. 
                   Whether you're into hoppy IPAs, rich stouts, or refreshing wheat beers, craft breweries have something for everyone. 
                   It's always exciting to try beers from different breweries around the world and discover new flavors and aromas. 
                   Cheers to exploring the wonderful world of craft beer! 🍺✨

                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/craft.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="tab-pane active show" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Brewing Techniques</h3>
                <p class="fst-italic">How is a typical day in a Brewery?</p>
                <p>An ordinary day in a brewery depends on the kind of alcoholic beverage being brewed, a brewery’s capacity and tricks of the trade. Nevertheless, the brewing process is similar for most breweries. Here are seven steps that make up the brewing process:
                    <br>
                  <b> 1. Milling :</b>
                  Beer making starts with the milling of brewing grains. The different types of malted barley are measured depending on the recipe. They are mixed and crushed into a coarse grist, neither too coarse nor too fine.
                  <br>
                  <b> 2. Mashing :</b>
                  Mashing looks like porridge making. It involves the mixing of milled grain with water and methodically heating this mixture. Mashing allows the breaking down of starch in the grains and eventual conversion into sugars. These malt sugars feed the yeast when it’s fermentation time.
                  <br>
                  <b> 3. Lautering :</b>
                  Lautering is a process of separating the mash (the thick porridge) into a clear sugary liquid called wort and spent grain. The separation is done using either a lauter tun or a mash filter. Usually, the sweet wort is run off first. The remaining substance is recirculated before sparging. During sparging, the extract that remains with the residual grains is rinsed off with hot water.
                  <br>
                 <b> 4. Boiling :</b>
                  The sweet wort is boiled evenly and intensely to ensure its sterility. The boil may last between 50 and 120 minutes. During the boil, brewers add bittering and aromatic hops that give beer its bitterness, flavor and aroma.
                  At the end of the boil, brewers set the wort into a whirlpool. Whirlpooling helps to collect accumulated dense solids mainly hop matter and coagulated proteins. Soon after filtration, the wort is cooled to prevent oxidation.
                  <br>
                  <b> 5. Fermentation :</b>
                  The chilled wort is pumped into tanks for fermentation. Brewer’s yeast turns the wort into alcohol and carbon dioxide. The kind of yeasts used and the fermentation temperature will determine whether the final product is an ale or a lager beer.
                  <br>
                 <b>  6. Filtration and Conditioning :</b>
                  We now have the beer! After fermentation, the beer is chilled and allowed to settle. Filtration and period of settlement depend on beer style. Filtering is meant to stabilize the beer’s flavor, but not all beers go through filtering.
                  <br>
                 <b> 7. Packaging :</b>            
                  From the conditioning tanks, the finished beer goes into bottles, cans, and kegs. The beer is now ready to leave the brewery. Secondary fermentation may continue to offer natural carbonation. You can now enjoy a pint in a pub near you!
               
                
                </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/brew.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</section><!-- End Specials Section -->
