{% load static %}

<section id="testimonials" class="testimonials section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Testimonials</h2>
      <p>What they're saying about us!!</p>
    </div>

    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              What a place to hang out.. loved the ambiance and the cushion seating..<br>
              ordered some Toit beer and they have Beer cocktails too, a lovely place to spend your night.<br>
              Especially don't miss out on Tandoori Chicken Chat and cheese omelette, its so cheesy …. Just so yummy 😋.. And you receive the bill in a cute trolley miniature.. ☺☺

              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/img/dj lakky.jpg" class="testimonial-img" alt="">
            <h3>Dj Lakky</h3>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Cozy and aesthetic place to chill and vibe. Food is top class. They have great offers. The staff is very friendly. Must visit!!!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/img/mohan.jpg" class="testimonial-img" alt="">
            <h3>Mohan Raghu</h3>
          
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Went for lunch . Nice place. Service and food quality is good. Amazing beer !! . Paneer dynamite and broccoli cheese were awesome and very tasty. Yummy! Cheers !!
            </p>
            <img src="/static/img/pruthvi.jpg" class="testimonial-img" alt="">
            <h3>Pruthvi Raghuram</h3>
          
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Absolutely thrilled with my dining experience at Ignyt Pub! The Chicken Dynamite was an explosion of flavors, that thing was fire, and the Beer Sunset Cocktail, despite my usual aversion to alcohol, was a delightful surprise. The taste was beyond amazing, making it a must-try. Five stars without a doubt!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/img/ankush.jpg" class="testimonial-img" alt="">
            <h3>Ankush</h3>
           
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Amazing ambience and food. Loved the service as well, the place is very affordable and a great hangout spot for college students.<br> Must visit!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/img/harshitha.jpg" class="testimonial-img" alt="">
            <h3>Harshitha vaibhav</h3>
            
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->